<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AprendeIngles</title>
    <link rel = "stylesheet" href = "../statics/styles/style.css" type = "text/css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="main.html">Inicio</a></li>
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
    <div class = "content"></div>
    <script src = "../dynamics/javascript/script.js"></script> 
</body>
</html>